<mat-toolbar color="primary" class="footer">
    <span class="text-muted">All Rights Reserved 2023 @Cognizant</span>
    <span class="spacer"></span>
    <span>developed by: Naman Bhandari</span>
    <span class="spacer"></span>
    <span class="text-muted">contact me @:</span>
    <a href="https://github.com/naman12303" target="_blank">
      <fa-icon matTooltip="github/Naman12303" [icon]="githubIcon" size="2x"></fa-icon>
    </a>
    <span class="spacer2"></span>
    <a href="https://www.linkedin.com/in/naman12303/" target="_blank">
      <fa-icon matTooltip="linkedin.com/in/naman12303" [icon]="linkedinIcon" size="2x"></fa-icon>
    </a>
  </mat-toolbar>